<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<!--<add key="urlLogin" value="https://localhost:8098/login.do" />
		<add key="urlPull" value="https://localhost:8098/accTransaction.do?export" />-->

		<add key="urlBase" value="https://10.2.1.120:8098" />
		<add key="urlLogin" value="https://10.2.1.120:8098/login.do" />
		<add key="urlPull" value="https://10.2.1.120:8098/accTransaction.do?export" />
		
		<add key="username" value="devadmin" />
		<add key="password" value="161ebd7d45089b3446ee4e0d86dbcf92" />
		<add key="loginType" value="NORMAL" />
		<add key="browserToken" value="d97e00e85dae5961ac05bb9cc6b717db" />
		<add key="intervalMinutes" value="3" />
		
		
		<add key="outputPath" value="G:\Shared drives\team.IT and TNKM-HR\punn" />
		<add key="outputSessionFile" value="session_request.txt" />		
		
		<!--<add key="outputPath" value="" />
		<add key="outputSessionFile" value="session_request.txt" />-->
	</appSettings>
</configuration>
